**/__pycache__

backend/data_extraction/handwriting_extract/src/TFWordBeamSearch.so
backend/data_extraction/handwriting_extract/src/TFWordBeamSearch_origina.so


.vscode
*/.vscode
*.json

.idea

uploads/*
resources/output/
resources/*.zip
backend/data_extraction/handwriting_extract/model/snapshot-24.data-00000-of-00001
snapshot-24.data-00000-of-00001
backend/logs/
backend/data_extraction/handwriting_extract/src/logs/
frontend/logs/
backend/data_extraction/logs/