**/__pycache__

src/main/backend/data_extraction/handwriting_extract/src/TFWordBeamSearch.so
src/main/backend/data_extraction/handwriting_extract/src/TFWordBeamSearch_origina.so

src/main/logs/

.vscode
*/.vscode
*.json

.idea

uploads/*
src/main/resources/output/
resources/*.zip
src/main/backend/data_extraction/handwriting_extract/model/snapshot-24.data-00000-of-00001
snapshot-24.data-00000-of-00001
src/main/backend/logs/
src/main/backend/data_extraction/handwriting_extract/src/logs/
src/main/frontend/logs/
src/main/backend/data_extraction/logs/
tests/**/*.jpg
venv/*
new_env/*