<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <title>Upload Your Check</title>
    </head>
    <body> <!-- Don't delete any commented out code for now, it might be useful later on -->
        <h1 align="center">DBGT Check Reader</h1>
        <h2 align="center">Upload a Check</h2>
            <div align="center">
                <br>
                <input type="file" id="myFile" name="file">
                <br><br><br>
                <input type="submit" id="submit" value="Upload" onclick="processCheck()">
            </div>

        <br><br><br>

        <form action="" method="get">
            <div id='dataDiv' style="display: none;">
                <table align="center" border="1" style="border-collapse: collapse;">
                    <tr>
                        <th colspan="5">Extracted Data</th>
                    </tr>
                    <tr>
                        <th>Field</th>
                        <th>Value</th>
                        <th>PASS/FAIL</th>
                        <th>Reason</th>
                    </tr><tr>
                        <td>Account Number</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr><tr>
                        <td>Routing Number</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr><tr>
                        <td>Date</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr><tr>
                        <td>Pay to the Order of</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr><tr>
                        <td>Image Amount</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr><tr>
                        <td>Written Amount</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr><tr>
                        <td>Memo</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr><tr>
                        <td>Signature</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </form>
        <!-- <div align="center"><textarea rows="10" style="width: 300px;" id="test" disabled>TEST</textarea></div>
        <br><br><br>
        TODO Add JSON file
        <div align="center"><a href="http://127.0.0.1:5000/field-data">JSON File</a></div> -->
    </body>
    <script>
        $(document).ready(function () {
            $("#submit").hide();

            $("#myFile").on("change", function () {
                if ($('#myFile').val() != "") {
                    $("#submit").show();
                } else {
                    $("#submit").hide();
                }

            })
        });

        /*
         * This function either hides or reveals/shows elements on the page depending on user interaction
         * @show boolean true means show, false means hide
         */
        function hideUnhide(show) {
            if (show == true) {
                document.getElementById('dataDiv').style = "";
            } else {
                document.getElementById('dataDiv').style = "display: none;";
            }
        }

        /*
         * This function is called when the Upload button is clicked, and it gets the uploaded files' name
         * and then calls the hideUnhide() function based on whether a file was uploaded or not.
         * This function will also handle sending the data to the backend
         *
         * Don't delete any commented out code, it may be useful later on.
         */
        function processCheck() {
            let img = document.getElementById("myFile").files[0];
            let fd = new FormData();
            fd.append('file', img);

            let request = new XMLHttpRequest();
            request.open('POST', 'http://127.0.0.1:5000/api/upload', true);
            request.send(fd)
            data = request.responseText
            console.log(data)
        }
    </script>
</html>